# Default values for front-end.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

namespace:
  name: ui
  createNamespace:

replicaCount: 3

image:
  repository: frontendimage
  pullPolicy: IfNotPresent

container:
  port: 4000

intiContainer:
  image:
    repository: busybox
  backendDependencyEndpoint:

resources:
  requests:
    memory: "250Mi"
  limits:
    memory: "500Mi"

# http://backendLoadbalancerIP:3000  . This should be later extracted using the kubectl command
configmap:
  name: env-config
  backendIp: http://YOUR_BACKEND_LOADBALANCER_IP:3000

secret:
  regcred:
    name: regcred
    type: kubernetes.io/dockerconfigjson
    dockerconfigjson: YOUR_DOCKER_SECRET

service:
  type: LoadBalancer
  port: 4000

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

podSecurityContext: {}
  # fsGroup: 2000

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: chart-example.local
      paths: []
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local


  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
